
nestopia.xml
nestopia.log
netplaylist.xml

Nestopia140bin/states/Earthbound (USA) (Proto).ns1

Nestopia140bin/states/Super Mario Bros (E).ns1

Nestopia140bin/states/Zelda 2 - The Adventure of Link.ns1

Nestopia140bin/states/Nuevo documento de texto.txt

Nestopia140bin/states/Legend of Zelda, The (U) [T-Span1.1].ns1

Nestopia140bin/Juegos/Earthbound (USA) (Proto).nes

Nestopia140bin/save/Earthbound (USA) (Proto).sav

Nestopia140bin/save/FinalF3.sav

Nestopia140bin/save/Legend of Zelda, The (U) [T-Span1.1].sav
